<a href="https://colab.research.google.com/github/kim1987/aiffel/blob/main/exploration/ex_dudrn_first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#from google.colab import files
#file_uploaded = files.upload()

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!cp /content/drive/MyDrive/colabdata/aiffel/ex_dudrn/lastfm-dataset-360K.tar.gz /content/lastfm-dataset-360K.tar.gz

In [4]:
!tar -xvzf /content/lastfm-dataset-360K.tar.gz -C /content/

lastfm-dataset-360K/
lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv
lastfm-dataset-360K/README.txt
lastfm-dataset-360K/mbox_sha1sum.py
lastfm-dataset-360K/usersha1-profile.tsv

In [5]:
import pandas as pd
import os

file_path = '/content/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']
data = pd.read_csv(file_path, sep='\t', names= col_names) 
data.head(10)

                                    user_id  ...  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b  ...  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b  ...  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b  ...   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b  ...   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b  ...   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b  ...   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b  ...   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  ...   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b  ...   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b  ...   403

[10 rows x 4 columns]

In [6]:
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [7]:
data['artist'] = data['artist'].str.lower()
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [8]:
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

In [9]:
my_favorite =['beyonce', 'james blunt','park hyo sin','elton john','bruno mars']

In [10]:
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})
if not data.isin({'user_id':['zimin']})['user_id'].any():
    data = data.append(my_playlist)

In [11]:
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [12]:
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data
else:
    print('user_id column indexing Fail!!')

user_id column indexing OK!!

In [13]:
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868   76347    30
1    358868    2902    30
2    358868  291347    30
3    358868     326    30
4    358868  291348    30

[17535660 rows x 3 columns]

In [14]:
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')

147740,17535660
Ratio of only_one over all data is 0.84%

In [15]:
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291349 sparse matrix of type '<class 'numpy.longlong'>'
	with 17535578 stored elements in Compressed Sparse Row format>

In [16]:
!nvcc --version

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Mon_Oct_12_20:09:46_PDT_2020
Cuda compilation tools, release 11.1, V11.1.105
Build cuda_11.1.TC455_06.29190527_0

In [17]:
!nvcc --version

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Mon_Oct_12_20:09:46_PDT_2020
Cuda compilation tools, release 11.1, V11.1.105
Build cuda_11.1.TC455_06.29190527_0

In [18]:
!pip install implicit

Requirement already satisfied: implicit in /usr/local/lib/python3.7/dist-packages (0.4.8)
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.7/dist-packages (from implicit) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from implicit) (1.19.5)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from implicit) (4.62.3)

In [19]:
from implicit.als import AlternatingLeastSquares
import numpy as np

In [20]:
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [21]:
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=True, iterations=15, dtype=np.float32)

In [22]:
csr_data_transpose = csr_data.T
csr_data_transpose

<291349x358869 sparse matrix of type '<class 'numpy.longlong'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [23]:
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [24]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

In [25]:
zimin_vector

Matrix([[ 0.7950918  -0.7932122  -0.17168385  0.300137   -1.162179   -0.68149114
   0.39786762 -0.93060595  0.1470855   0.02252837  0.16811983 -0.13226184
   0.49210528 -0.0593853   0.7083029  -0.15159217 -0.20976695  0.72699374
  -0.18834436 -0.10739595  0.4241316  -0.3229457   0.00857365  0.820267
  -0.5703106   0.94885415 -0.6142628  -0.56862855 -0.7167638  -0.13645433
   0.2559515   0.11394554 -0.45911902 -0.14878646 -0.67711604  0.38693285
  -1.0664217   0.43146473  0.46317267 -1.2470394  -0.34550527 -0.18813244
   0.16452827  0.0796449   1.0772667  -0.67494667 -0.72858256  0.51587933
  -0.35927638 -0.66381544 -0.4244493   0.1929021  -0.6523883   0.5069464
  -0.21733162  0.70820814  0.25963414 -0.38699353  0.61573756 -0.42648098
  -0.34977764 -0.64077604 -0.03978865  0.7267655  -0.24069418 -0.359844
   0.05773778  0.05485783  1.0467051   0.52557826  0.6608835   0.28723562
   0.42237645  0.2506733  -0.3396919  -0.5401142  -0.4774067   0.01116414
  -0.37437317  0.420308    0.12319614 -0.47305778  0.53944236 -0.3270571
   0.07077534  0.20735241 -0.53461754  0.34604335  0.37711188 -0.24639855
   0.03491136 -0.00835545 -0.27041385 -0.19958588 -0.75635874  0.63784206
  -0.3903559  -0.681859    0.5428505  -0.19571757]])

In [26]:
black_eyed_peas_vector

Matrix([[ 1.82610787e-02 -7.94716273e-03  9.15338099e-03  1.21647771e-02
   1.84638193e-03 -8.73525999e-03 -8.79465509e-03 -1.12575311e-02
  -5.20509528e-03  1.94135141e-02 -1.15577020e-02 -9.05178953e-03
  -5.17117372e-03  6.65596453e-03 -1.25051783e-02  1.15269292e-02
  -1.06405094e-02 -3.80101171e-03 -2.60122027e-02 -2.23440919e-02
  -1.19791813e-02  3.81894852e-03  9.59933456e-03 -7.37648457e-03
   9.00104991e-04 -6.73422311e-03 -1.77834053e-02  1.53153134e-03
  -1.02063725e-02 -5.17884782e-03  4.96158982e-03  1.31592378e-02
   1.12878140e-02 -1.59551390e-02 -6.44350005e-03  2.39749495e-02
   2.31238571e-03 -4.16272305e-05  1.41510470e-02  4.31313645e-03
  -1.67488761e-03  1.03510404e-02  7.98553519e-05  1.03861447e-02
   2.00509820e-02 -3.25212197e-04 -1.55772492e-02  9.24038142e-03
  -1.07109249e-02  8.14721640e-03  1.48679428e-02  1.29071455e-02
   6.07744465e-03 -3.17834155e-03  6.95312815e-03  6.23517262e-04
   1.82233993e-02  1.96839236e-02 -1.92088005e-03 -6.87058922e-03
   1.20566161e-02 -8.30277149e-03 -1.64908753e-03 -1.23998784e-02
   1.51222665e-02 -1.56228803e-02 -1.13184808e-03 -7.42953317e-03
  -2.66076881e-03  2.85081007e-03  2.79007945e-02  7.94539787e-03
   5.13084978e-03  2.12411005e-02  4.93839523e-03 -7.75353983e-04
  -1.11735836e-02  1.22882063e-02 -6.65004773e-04  9.19523835e-03
   3.13635101e-03 -8.49531777e-03 -5.09814499e-03 -3.71128786e-04
   3.00892838e-03 -1.50544783e-02  6.98921131e-03 -9.52182617e-03
  -2.79327761e-03 -4.46118851e-04  3.26865935e-03  1.05845137e-02
   4.94205812e-03  2.22880044e-04 -5.72703313e-03  6.24734163e-03
   8.99684150e-03 -3.92011553e-03  7.38033699e-03 -7.35147111e-03]])

In [27]:
user_items = csr_data_transpose.T.tocsr()
recommendations = als_model.recommend(zimin, user_items)

In [28]:
recommendations

[(1048, 0.25869307),
 (375, 0.25166765),
 (295, 0.24868706),
 (627, 0.23445024),
 (382, 0.22572175),
 (274, 0.2187007),
 (605, 0.21542937),
 (1034, 0.21501711),
 (416, 0.2148422),
 (1090, 0.21382815)]

In [29]:
next(v for v,i in artist_to_idx.items() if i ==3746)

'jason mraz'

In [30]:
list(artist_to_idx.keys())[list(artist_to_idx.values()).index(3746)]

'jason mraz'

In [31]:
for v , i in artist_to_idx.items():
  if i == 3746:
    print(v)
    break

jason mraz

In [32]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 0.99999994),
 (277, 0.96617925),
 (5, 0.94096655),
 (28, 0.92837477),
 (217, 0.9224477),
 (247, 0.9085828),
 (910, 0.8792922),
 (490, 0.8403977),
 (1018, 0.83788437),
 (473, 0.82855505),
 (418, 0.8207746),
 (268, 0.8165047),
 (782, 0.8124784),
 (55, 0.81156707),
 (694, 0.80588263)]

In [33]:
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'red hot chili peppers',
 'the killers',
 'radiohead',
 'the beatles',
 'nirvana',
 'oasis',
 'the smashing pumpkins',
 'placebo',
 'u2',
 'pink floyd',
 'the white stripes',
 'arctic monkeys',
 'foo fighters']

In [34]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

In [35]:
get_similar_artist('2pac')

['2pac',
 'ric-a-che',
 'big quez',
 'impact repertory theatre group',
 'sikiru adepoju',
 'dr. dre',
 'notorious b.i.g.',
 'nas',
 'cutt calhoun',
 'the game']

In [36]:
user = user_to_idx['zimin']
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(1048, 0.25869307),
 (375, 0.25166765),
 (295, 0.24868706),
 (627, 0.23445024),
 (382, 0.22572175),
 (274, 0.2187007),
 (605, 0.21542937),
 (1034, 0.21501711),
 (416, 0.2148422),
 (1090, 0.21382815),
 (757, 0.21086502),
 (3746, 0.208499),
 (1055, 0.20173255),
 (1035, 0.20142892),
 (624, 0.19944602),
 (8328, 0.19478244),
 (2123, 0.19368842),
 (159, 0.18977489),
 (1039, 0.18848073),
 (1607, 0.18817706)]

In [37]:
[idx_to_artist[i[0]] for i in artist_recommended]

['sting',
 'robbie williams',
 'bon jovi',
 'maroon 5',
 'mika',
 'michael jackson',
 'bryan adams',
 'billy joel',
 'phil collins',
 'abba',
 'aerosmith',
 'jason mraz',
 'simon & garfunkel',
 'eric clapton',
 'frank sinatra',
 'rod stewart',
 'travis',
 'dido',
 'dire straits',
 'james morrison']

In [38]:
rating_file_path = '/content/drive/MyDrive/colabdata/aiffel/ex_dudrn/data/ratings.dat'
ratings_cols = ['user_id','movie_id','ratings','timestamp']
ratings = pd.read_csv(rating_file_path,sep='::',
                      names = ratings_cols,engine='python',
                      encoding="ISO-8859-1"
                      )
original_data_size = len(ratings)
ratings = ratings.drop(columns=['timestamp'])
ratings.head()
num_user = ratings['user_id'].nunique()

In [39]:
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'original_data_size: {original_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / original_data_size:.2%}')

original_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [40]:
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [41]:
#new_ratings = ratings.drop_duplicates(['user_id','movie_id'])
#len(new_ratings)

In [42]:
ratings.tail()

         user_id  movie_id  counts
1000203     6040      1090       3
1000205     6040      1094       5
1000206     6040       562       5
1000207     6040      1096       4
1000208     6040      1097       4

In [43]:
movie_file_path='/content/drive/MyDrive/colabdata/aiffel/ex_dudrn/data/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [44]:
movies[movies['title'].str.lower().str.contains('memento')]

Empty DataFrame
Columns: [movie_id, title, genre]
Index: []

In [45]:
ratings = pd.concat([ratings,pd.DataFrame([[6041,1,4],[6041,3114,4],[6041,1221,4],[6041,1721,4],[6041,1214,4]],
                                columns=['user_id','movie_id','counts'])
          ])

In [46]:
movies.tail()

      movie_id                       title           genre
3878      3948     Meet the Parents (2000)          Comedy
3879      3949  Requiem for a Dream (2000)           Drama
3880      3950            Tigerland (2000)           Drama
3881      3951     Two Family House (2000)           Drama
3882      3952       Contender, The (2000)  Drama|Thriller

In [47]:
movie_csr = csr_matrix((ratings.counts,(ratings.user_id,ratings.movie_id)),shape =(num_user+2,len(movies)+100) )

In [48]:
movie_als_model = AlternatingLeastSquares(factors=100, regularization=0.05, use_gpu=True, iterations=20, dtype=np.float32)

In [49]:
movie_als_model.fit(movie_csr.T)

  0%|          | 0/20 [00:00<?, ?it/s]

In [50]:
movie_als_model.similar_items(1)

[(1, 1.0000001),
 (3114, 0.8030517),
 (34, 0.62936765),
 (2355, 0.58048016),
 (588, 0.5706258),
 (1265, 0.5485038),
 (2321, 0.44936752),
 (364, 0.43835932),
 (595, 0.42933995),
 (1923, 0.40064335)]

In [51]:
movies[movies['movie_id']==1193]

      movie_id                                   title  genre
1176      1193  One Flew Over the Cuckoo's Nest (1975)  Drama

In [52]:
def model_user_factor(model_name,user_id):
  temp = str(model_name.user_factors[user_id]).replace('\n',"").lstrip('[[').rstrip(']]')
  temp = temp.split(' ')
  temp = np.array([float(x) for x in temp if x !=''],dtype='float32')
  return temp

In [53]:
def model_movie_factor(model_name,movie_id):
  temp = str(model_name.item_factors[movie_id]).replace('\n',"").lstrip('[[').rstrip(']]')
  temp = temp.split(' ')
  temp = np.array([float(x) for x in temp if x !=''],dtype='float32')
  return temp

In [54]:
model_user_factor(movie_als_model,1).dot(model_movie_factor(movie_als_model,1))

1.0287265

In [55]:
movie_als_model.recommend(1,movie_csr,N=20, filter_already_liked_items=True)

[(364, 1.0534282),
 (318, 0.8024885),
 (1225, 0.7555568),
 (2078, 0.7495969),
 (2081, 0.74811155),
 (2858, 0.7367013),
 (1282, 0.7171494),
 (2096, 0.712584),
 (3147, 0.6881568),
 (1704, 0.6682962),
 (2087, 0.6632904),
 (1198, 0.6388429),
 (34, 0.6106736),
 (1196, 0.59735286),
 (596, 0.59675735),
 (1032, 0.5702418),
 (593, 0.5648665),
 (920, 0.56230503),
 (110, 0.5448906),
 (2085, 0.53663737)]

In [56]:
model_user_factor(movie_als_model,1).dot(model_movie_factor(movie_als_model,364))

1.0534282

In [57]:
def get_recommend(model_name,user_id):
  recommend_list = model_name.recommend(user_id,movie_csr,N=20,filter_already_liked_items=True)
  for idx,(movie_id,_) in enumerate(recommend_list):
    if idx == 0:
      answer = movies[movies['movie_id']==movie_id]
    else:
      answer = pd.concat([answer,movies[movies['movie_id']==movie_id]])
  return answer

In [58]:
def get_user_movie(user_id,head_value):
  list_movie = ratings[ratings['user_id']==user_id][['movie_id','counts']].head(head_value)

  for idx,(movie_id,counts) in enumerate(zip(list_movie['movie_id'],list_movie['counts'])):
    if idx == 0:
      answer = movies[movies['movie_id']==movie_id]
      answer['counts']=counts
    else:
      answer = pd.concat([answer,
                          movies[movies['movie_id']==movie_id].assign(counts = [counts])
                          ])

  return answer

In [59]:
def get_similar_movie(model_name,movie_id):
  simil_list = model_name.similar_items(movie_id)
  for idx,(movie_id,_) in enumerate(simil_list):
    if idx == 0:
      answer = movies[movies['movie_id']==movie_id]
    else:
      answer = pd.concat([answer,movies[movies['movie_id']==movie_id]])
  return answer

In [60]:
get_user_movie(1,10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

      movie_id  ... counts
1176      1193  ...      5
655        661  ...      3
902        914  ...      3
3339      3408  ...      4
2286      2355  ...      5
1179      1197  ...      3
1267      1287  ...      5
2735      2804  ...      5
590        594  ...      4
907        919  ...      4

[10 rows x 4 columns]

In [61]:
get_recommend(movie_als_model,1)

      movie_id  ...                                        genre
360        364  ...                 Animation|Children's|Musical
315        318  ...                                        Drama
1207      1225  ...                                        Drama
2009      2078  ...          Animation|Children's|Comedy|Musical
2012      2081  ...  Animation|Children's|Comedy|Musical|Romance
2789      2858  ...                                 Comedy|Drama
1262      1282  ...                 Animation|Children's|Musical
2027      2096  ...                 Animation|Children's|Musical
3078      3147  ...                               Drama|Thriller
1656      1704  ...                                        Drama
2018      2087  ...         Animation|Children's|Fantasy|Musical
1180      1198  ...                             Action|Adventure
33          34  ...                      Children's|Comedy|Drama
1178      1196  ...            Action|Adventure|Drama|Sci-Fi|War
592        596  ...                         Animation|Children's
1019      1032  ...                 Animation|Children's|Musical
589        593  ...                               Drama|Thriller
908        920  ...                            Drama|Romance|War
108        110  ...                             Action|Drama|War
2016      2085  ...                         Animation|Children's

[20 rows x 3 columns]

In [62]:
model_user_factor(movie_als_model,6041).dot(model_movie_factor(movie_als_model,3114))

0.6718849

In [63]:
model_user_factor(movie_als_model,6041).dot(model_movie_factor(movie_als_model,2114))

0.0006268311

In [64]:
get_similar_movie(movie_als_model,3114)

      movie_id                       title                                genre
3045      3114          Toy Story 2 (1999)          Animation|Children's|Comedy
0            1            Toy Story (1995)          Animation|Children's|Comedy
2286      2355        Bug's Life, A (1998)          Animation|Children's|Comedy
33          34                 Babe (1995)              Children's|Comedy|Drama
2692      2761      Iron Giant, The (1999)                 Animation|Children's
2327      2396  Shakespeare in Love (1998)                       Comedy|Romance
3088      3157        Stuart Little (1999)                    Children's|Comedy
584        588              Aladdin (1992)  Animation|Children's|Comedy|Musical
1245      1265        Groundhog Day (1993)                       Comedy|Romance
2530      2599             Election (1999)                               Comedy

In [65]:
get_recommend(movie_als_model,6041)

      movie_id  ...                                genre
847        858  ...                   Action|Crime|Drama
33          34  ...              Children's|Comedy|Drama
2286      2355  ...          Animation|Children's|Comedy
2327      2396  ...                       Comedy|Romance
1954      2023  ...                   Action|Crime|Drama
1182      1200  ...           Action|Sci-Fi|Thriller|War
257        260  ...      Action|Adventure|Fantasy|Sci-Fi
1192      1210  ...  Action|Adventure|Romance|Sci-Fi|War
1220      1240  ...               Action|Sci-Fi|Thriller
1178      1196  ...    Action|Adventure|Drama|Sci-Fi|War
1366      1387  ...                        Action|Horror
1884      1953  ...          Action|Crime|Drama|Thriller
1959      2028  ...                     Action|Drama|War
1245      1265  ...                       Comedy|Romance
584        588  ...  Animation|Children's|Comedy|Musical
1180      1198  ...                     Action|Adventure
352        356  ...                   Comedy|Romance|War
912        924  ...        Drama|Mystery|Sci-Fi|Thriller
1284      1304  ...                Action|Comedy|Western
1256      1276  ...                         Comedy|Drama

[20 rows x 3 columns]